{% extends 'base.html' %}
{% block content %}

<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
<h3>За НајдиСтан.мк</h3><br><br>

<h4>Основањето на НајдиСтан.мк </h4>
<p class="text-justify">Секој нов концепт се базира на потреба. Идејата за креирање на веб страница што ќе овозможи купување, продавање и размена беше реализирана летото 2006 година, со официјално пуштање во употреба на веб страницата НајдиСтан.мк. Поставувањето на веб страницата беше проследено со огромен успех затоа што бројот на посетители од ден на ден се зголемуваше. Денес НајдиСтан.мк е водечкиот македонски купо-продажен пазар на Интернет мрежата, со 70 000 посетители на ден и повеќе од 1 600 огласи дневно. </p>
<br>
<h4>НајдиСтан.мк Бизнис Модел </h4>
<p class="text-justify">Целта на НајдиСтан.мк Бизнис моделот е да обезбеди лесно, ефективно и безбедно огласување. Преку НајдиСтан.мк, физичките лица и компаниите од Македонија може да продаваат, купуваат и разменуваат предмети како никогаш досега. Целта на Пазар3 е постојано да го подобрува корисничкото искуство од онлајн огласувањето. </p>
<br>

<h4>Контакт за медиуми</h4>
<p class="text-justify">Како претставници на медиумите имате можност преку долунаведената е-пошта да воспоставите контакт со нас или да бидете додадени на нашата мејлинг листа. Ве молиме оставете ги Вашите прашања и Ваш телефон за контакт. Ќе Ви одговориме во најкус можен рок. Во месец мај 2008 НајдиСтан.мк ќе го стартува новиот портал за онлајн огласи. Бесплатниот онлајн пазар е главно насочен кон приватните корисници и се базира на регионална близина како и на придружните можности за личен контакт. Категориите се движат од семејство, дете и бебе, куќа и градина, слободно време, мултимедија и електроника, автомобил, велосипед и чамец, преку музика, филм и книги, како и мода и убавина, па се до домашни миленичиња, работни места и недвижен имот. Во просек со над еден милион посетители и вкупно 30 милиони прегледи на страници месечно. НајдиСтан.мк денес е еден од најсилните платформи за тргување во Македонија. </p>
<br><br>
</div>
{% endblock %}