{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_field_sub(field, label_visible=true) -%}
        {{ field(class_='form-control ', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
{%- endmacro %}

{% macro render_field_inline(field, label_visible=true) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label col-sm-4">{{ field.label }}</label>
        {% endif %}
        <div class="col-sm-8">
            {{ field(class_='form-control', **kwargs) }}
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block">{{ e }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{% macro render_field_inline_withValue(field, label_visible=true, value='') -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label col-sm-4">{{ field.label }}</label>
        {% endif %}
        <div class="col-sm-8">
            {{ field(class_='form-control', value=value, **kwargs) }}
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block">{{ e }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_field_inline_price(field, label_visible=true, value='') -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label for="{{ field.id }}" class="control-label col-sm-4">{{ field.label }}</label>
        {% endif %}
        <div class="input-group">
        <div class="col-sm-8 col-md-8 col-lg-8">
            {{ field(class_='form-control', value=value, **kwargs) }}
        </div>
        <div class="input-group-addon col-sm-2"><span class="glyphicon glyphicon-eur"></span></div>
         </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block">{{ e }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{% macro render_field_inline_price_oddo(field, label_visible=true, value='') -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">

        <div class="input-group">
        <div class="col-sm-5 col-md-5 col-lg-5">
              Од: {{ field(class_='form-control', value=value, id='od', **kwargs) }}<span class="glyphicon glyphicon-eur"></span>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5" id="doo">
             До:{{ field(class_='form-control', value=value, id='doo', **kwargs) }}<span class="glyphicon glyphicon-eur"></span>
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block">{{ e }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}


{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}


{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}


{% macro render_form(form, action_url='', action_text='Submit',  enctype='', class_='',   btn_class='btn btn-default btn-block') -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}" enctype="{{enctype}}" autocomplete="off">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" style='font-weight: bold; background-color: #d8d4d4; border: 1px dashed black; ' class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}


{% macro render_form_other(form, action_url='', action_text='Submit',  enctype='', class_='',   btn_class='btn btn-default btn-block') -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}" enctype="{{enctype}}" autocomplete="off">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
{%- endmacro %}