{% extends 'base.html' %}
{% block content %}

<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
<h3>Правила за огласување</h3><br><br>

<h4>Огласување за физички лица</h4>
<p class="text-justify">Секое физичко лице има право на објавување на свој оглас на НајдиСтан.мк. Огласот се поднесува како оглас од физичко лице само доколку тоа физичко лице ја превзема одговорноста и има право да склучува договори за купување и продавање на предмети според правилата на Организацијата за заштита на потрошувачи и позитивните законски прописи во Р.Македонија.
<br><br>
НајдиСтан.мк го задржува правото да одлучи кога огласот е класифициран како оглас на физичко лице. </p>
<br>

<h4>Огласи - Дупликати </h4>
<p class="text-justify">Не е дозволено да објавувате повеќе од еден оглас за ист производ или услуга повеќе од еднаш. Огласите кои имаат иста содржина се дефинираат како дупликат оглас и ќе бидат избришани.  </p>
<br>

<h4>Линкови и препораки</h4>
<p class="text-justify">Не е дозволено да ставите линк или препорака кој води до друга веб страница за огласување или веб страница за аукција. Линковите се дозволени само ако се однесуваат на спецификациите на производот или услугата која ја огласувате.
<br>
НајдиСтан.мк не ги поддржува ставовите и гледиштата објавени на страниците до кои водат линковите </p>
<br>

<h4>Нелегални производи и услуги </h4>
<p class="text-justify">НајдиСтан.мк има одредени забрани за тоа кои стоки и услуги не смеат да се огласуваат. Производите или услугите кои според Законите и прописите во Р.Македонија се дефинираат како нелегални, нема да се објават.   </p>
<br>

<h4>Материјал со авторски права и права на интелектуална сопственост</h4>
<p class="text-justify">Не е дозволено да се огласуваат копии на брендови, (CD/ DVD, софтвери за компјутери, компјутерски и видео игри, филмови). Огласувачот мора да докаже дека се работи за оргинален производ.    </p>
<br><br><br>


</div>
{% endblock %}